body {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, li, b, em, strong {
    color: rgb(0, 0, 0);
}

main {
    height: 100vh;
}

input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

main .iframedivs {
    width: max-content;
    height: 200px;
    background-color: aqua;
}

main iframe {
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    
}